@charset "UTF-8";

.pc {display: block;}
.mb {display: none;}

.main-img {
  img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
  }
}

.section3 {
  padding: 157px 0 160px;

  h1, label {
    font-weight: bold;
  }

  h1 {
    font-size: 3.2rem;
    word-break: keep-all;
  }

  p {
    margin-top: 45px;
    word-break: keep-all;
  }

  .inner {
    margin: 0 auto;
    max-width: 845px;
    width: 91%;
    text-align: center;
  }

  .form {
    width: 530px;
    margin: 110px auto 0;
    text-align: left;

    &-group {
      + .form-group {
        margin-top: 24px;
      }

      &.agreement {
        margin-top: 110px;
      }
    }

    &-check {
      margin-top: 18px;

      input[type="checkbox"] {
        display: none;

        &:checked {
          + label::after {
            display: block;
          }
        }
      }

      label {
        position: relative;
        padding-left: 23px;
        font-size: 1.8rem;
        font-weight: normal;

        &::after, &::before {
          content: '';
          position: absolute;
          top: 50%;
          border-radius: 50%;
          box-sizing: border-box;
          transform: translateY(-50%);
        }

        &::before {
          display: block;
          left: 0;
          width: 17px;
          height: 17px;
          border: 1px solid #000;
        }

        &::after {
          display: none;
          left: 4px;
          width: 9px;
          height: 9px;
          background-color: #000;
        }
      }
    }

    label, input[type="text"] {
      display: block;
      width: 100%;
    }

    label {
      margin-bottom: 12px;
    }

    input[type="text"],
    input[type="number"] {
      padding: 9px 10px;
      box-sizing: border-box;
      border: 1px solid #b4b4b4;
      border-radius: 3px;
      font-size: 2.2rem;
    }

    .agree {
      padding: 15px;
      width: 100%;
      height: 325px;
      box-sizing: border-box;
      border: 1px solid #b4b4b4;
      border-radius: 3px;
      font-size: 1.5rem;
      line-height: 1.4;
      overflow-y: auto;
    }
  }

  .btn-enter {
    display: block;
    margin-top: 70px;
    padding: 10px 0;
    width: 100%;
    font-family: "NanumSquareNeo", sans-serif;
    font-size: 2.4rem;
    font-weight: bold;
    border: none;
    background-color: #000;
    color: #fff;
    cursor: pointer;
  }
}

.section4 {
  padding: 106px 0 108px;
  background-color: #000;

  .inner {
    margin: 0 auto;
    max-width: 1106px;
    width: 91%;
    color: #fff;
  }

  h1 {
    margin-bottom: 33px;
    font-weight: bold;
  }

  ul {
    li {
      position: relative;
      padding-left: 10px;
      line-height: 1.3;
      letter-spacing: -0.2px;
      font-family: 'NanumSquareNeoLight', sans-serif;

      &::before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 10px;
        width: 2px;
        height: 2px;
        border-radius: 50%;
        background-color: #fff;
      }
    }

    + ul {
      margin-top: 30px;
    }
  }
}

@media screen and (max-width: 720px) {
  .pc {display: none;}
  .mb {display: block;}

  body {
    font-size: 2rem;
  }

  .section3 {
    padding: 95px 0 73px;

    h1 {
      font-size: 3rem;
      line-height: 1.3;
    }

    p {
      font-size: 1.7rem;
      line-height: 1.3;
    }

    .inner {
      width: 67%;
      text-align: center;
    }

    .form {
      width: 100%;
      margin: 110px auto 0;
      text-align: left;

      &-group {
        + .form-group {
          margin-top: 34px;
        }

        &.agreement {
          margin-top: 114px;
        }
      }

      &-check {
        label {
          font-size: 1.6rem;
          &::before {
            width: 15px;
            height: 15px;
          }

          &::after {
            left: 4px;
            width: 7px;
            height: 7px;
          }
        }
      }


      label {
        margin-bottom: 10px;
      }

      input[type="text"],
      input[type="number"] {
        padding: 15px 10px;
        font-size: 2rem;
      }

      textarea {
        height: 296px;
      }
    }

    .btn-enter {
      margin-top: 55px;
      padding: 16px 0;
      font-size: 2.1rem;
    }
  }

  .section4 {
    padding: 99px 0 96px;

    .inner {
      width: 91%;
    }

    h1 {
      margin-bottom: 27px;
      font-size: 1.8rem;
    }

    ul {
      li {
        font-size: 1.8rem;
      }

      + ul {
        margin-top: 26px;
      }
    }
  }
}
